
.closebtn{
    background-color: #FFD9D9;
    padding-bottom: 3px;
}
.btnF{
    color: #FE6262;
    background-color: #FDCDCD;
}
.Pbtn{
    color: #B26FFF;
    background-color: #EAD8FF;
}

.btnS{
    color: #6ADEAB;
    background-color: #CDF4E3;
}
#btn-1{
    background-color: #008FEE;
    z-index: 0 !important;
}
#btn-2{
    background-color: #008FEE;
    z-index: 0 !important;
}
#btn-3{
    color: rgb(255, 255, 255);
    background-color: #3cca8c !important;
    font-size: 8px !important;

}
#btn-4{
color: #ffa620;
background-color: #FFE4BB;        
}


#btn-5{
    background-color: #CFEAFF;

}
#btn-6{
    background-color: #CFEAFF;    
}
#btn-1:hover{
    background-color: #84b1cf;
}
#btn-2:hover{
    background-color: #84b1cf;
}

#btn-4:hover{
    background-color: #FFAE17;
    color: white;
}
#btn-5:hover{
    background-color: #0093FF;
    color: white;
}
#btn-6:hover{
    background-color: #4d687c;    
}
#date{
    background-color:#CFEAFF ;
}
#signout {
    color: #FF4141;
    background-color: #FFD9D9;
}

#signout:hover{
    background-color: #FF3A39;
    color: white;
}

#reject {
    color: #FF4141;
    background-color: #FFD9D9;
}

#reject:hover{
    background-color: #FF3A39;
    color: white;
}

#onhold{
    color: #DDA24A;
    background-color: #FFE4BB;        
    }

#onhold:hover{
    background-color: #FFAE17;
    color: white;
}
#accept{
    background-color: #CFEAFF;
    color: #3A41FF;
}
#accept:hover{
    background-color: #0093FF;
    color: white;
}

#camera-align{
    background-color: #CFEAFF;
    color: #3A41FF;
}

.scroll {
    
    overflow-y: scroll;
    display: inline-block;

}
      
    .inner{
      height: 300%;
      width: 100%;
      content: '.';
    }
    
   
   ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      
    }
    ::-webkit-scrollbar-track {
      border-radius: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 12px;
      background: white
    }
    ::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: rgba(0,0,0,0.2);
    }
    ::-webkit-scrollbar-thumb:hover{
        background: rgba(0,0,0,0.4);
    }
    ::-webkit-scrollbar-thumb:active{
        background: rgba(0,0,0,.9);
    }

    .flex-items{
        display: flex;
        justify-content: space-around; 
        margin: 20px;
    }

    .border-2{
        margin-right: 30px;
    }


    /* fonts  */
    #btn-1{
        font-size: 9px !important;
     }
     #btn-2{
         font-size: 9px !important;
     }
     #btn-3div{
         font-size: 10px !important;
         }
     #btn-3{
         font-size: 10px !important;
     }
     #btn-4{
         font-size: 10px !important;
     }
     #btn-5{
         font-size: 10px !important;
     
     }
     #time span{
         font-size: 10px !important;
     }
     #head{
         font-size: 10px !important;
     }
     #candidates div{
         font-size: 10px !important;
     }

     #btn-6{
         font-size: 10px !important;
     }
     #date{
        font-size: 10px !important;
    }
    #signout{
        font-size: 10px !important;
    }

    @media (min-width:990px){
        #btn-3div{
            text-align: center;
        }
       

    }
   
    
    @media  (max-width:989px){
        .icon{
            padding-left: 10px;
        }
        #btn-1{
            place-content: center;
         }
         #btn-2{
            place-content: center;
         }

    }

    .ulclass{
        font-size: 10px !important;
    }

    .bg-e{
        background-color: #EEEEEE;
    }
    .chathead{
        background-color: #D1D5DB;
    }
    .bgbluechat{
        background-color: #008FEE;
    }
    .bggreenchat{
        background-color: #05C873;
    }

/* ....................................................... */

/* .customcheck {
    position: relative;
  }
  
  .customcheck input {
    display: none;
  }
  
  .customcheck input~.checkmark {
    background: #ee0b0b;
    width: 15px;
    display: inline-block;
    position: relative;
    height: 15px;
    border-radius: 2px;
    vertical-align:middle;
    margin-right:10px;
  }
  
  .customcheck input~.checkmark:after,
  .customcheck input~.checkmark:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 8px;
    background: #fff;
    left: 6px;
    top: 4px;
  }
  
  .customcheck input~.checkmark:after {
    transform: rotate(-45deg);
    z-index: 1;
  }
  
  .customcheck input~.checkmark:before {
    transform: rotate(45deg);
    z-index: 1;
  }
  
  .customcheck input:checked~.checkmark {
    background: #3d8a00;
    width: 15px;
    display: inline-block;
    position: relative;
    height: 15px;
    border-radius: 2px;
  }
  
  .customcheck input:checked~.checkmark:after {
    display: none;
  }
  
  .customcheck input:checked~.checkmark:before {
    background: none;
    border: 2px solid #fff;
    width: 6px;
    top: 2px;
    left: 4px;
    border-top: 0;
    border-left: 0;
    height: 9px;
    top: 2px;
  } */

 /* .................................................... */

    .disc{
        font-size: 8px !important;
        font-weight: 100;
    }
    #chattext{
        font-size: 7px !important;
        font-weight: 100;
    }
    
    .desc-text{
        font-size: 9px !important;
        font-weight: bold !important;
    }
    #chattext1{
        font-size: 12px !important;
        font-weight: 100;
    }

    .disc-t{
        font-size: 7px !important;
    }
    .disc-t1{
        font-size: 8px !important;
    }

    
