@media only screen and (max-width: 640px) {
.displayclass{
    display: none;
}}
.closebtn{
    background-color: #FFD9D9;
    padding-bottom: 3px;
}
.btnF{
    color: #FE6262;
    background-color: #FDCDCD;
}
.Pbtn{
    color: #B26FFF;
    background-color: #EAD8FF;
}

.btnS{
    color: #6ADEAB;
    background-color: #CDF4E3;
}
#btn-1{
    background-color: #008FEE;
}
#btn-2{
    background-color: #008FEE;
}
#btn-3{
    color: green;
    background-color: #BAFFE1;
}
#btn-4{
color: #ffa620;
background-color: #FFE4BB;        
}
#btn-5{
    background-color: #CFEAFF;

}
#btn-6{
    background-color: #CFEAFF;    
}
#btn-1:hover{
    background-color: #84b1cf;
}
#btn-2:hover{
    background-color: #84b1cf;
}
#btn-3:hover{
}
#btn-4:hover{
    background-color: #FFAE17;
    color: white;
}
#btn-5:hover{
    background-color: #0093FF;
    color: white;
}
#btn-6:hover{
    background-color: #4d687c;    
}
#date{
    background-color:#CFEAFF ;
}
#signout{
    color: #FF4141;
    background-color: #FFD9D9;
}

#signout:hover{
    background-color: #FF3A39;
    color: white;
}

.scroll {
    
    overflow-y: scroll;
    display: inline-block;

}
      
    .inner{
      height: 300%;
      width: 100%;
      content: '.';
    }
    
   
   ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      
    }
    ::-webkit-scrollbar-track {
      border-radius: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 12px;
      background: rgba(0,0,0,0.1);
    }
    ::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: rgba(0,0,0,0.2);
    }
    ::-webkit-scrollbar-thumb:hover{
        background: rgba(0,0,0,0.4);
    }
    ::-webkit-scrollbar-thumb:active{
        background: rgba(0,0,0,.9);
    }

    @media (min-width:641px) and (max-width:860px){
        .icon{
            font-size: xx-small;
            padding:5px 0px !important;
            text-align: center;
            vertical-align: middle;
        }
        #btn-1 {
            font-size: xx-small;
            width: 100px;
            padding:5px 3px !important;
            text-align: center;
            vertical-align: middle;
        }
        #btn-2 {
            font-size: xx-small;
            width: 100px;
            padding:5px 3px !important;
            text-align: center;
            margin-left: 2px;
        }
        #btn-3div{
            margin-left: 3px;
            font-size: xx-small;
            width: 100px !important; 
            
        }
        #btn-3{
            font-size: xx-small;
            padding: 0 5px !important;
            
        }
        #time span{
            font-size: xx-small;
            width: fit-content;
        }

        #btn-4{
            font-size: x-small;
            padding: 5px 10px !important;
        }

        #btn-5{
            font-size: x-small;
            padding: 5px 10px !important;
            margin-left: 3px;
        }

        #btn-6{
        width: 130px !important;
        padding: 0 !important;
        }
        #head{
            font-size: x-small;
            padding: 0;

        }
        #candidates div{
            font-size: x-small;
            padding: 0px 0px !important;
            height: 10px !important;

        }

    }
    @media (min-width:861px) and (max-width:1200px){
        .icon{
            font-size: x-small;
            padding:2px 0px !important;
            text-align: center;
            vertical-align: middle;
        }
        #btn-1 {
            font-size: x-small;
            width: 140px;
            padding:5px 6px !important;
            text-align: center;
            vertical-align: middle;
        }
        #btn-2 {
            font-size: x-small;
            width: 140px;
            padding:5px 6px !important;
            text-align: center;
            vertical-align: middle;
        }
        #btn-3div{
            
            font-size: x-small;
            width: 140px !important; 
            
        }
        #btn-3{
            font-size: xx-small;
            padding: 0 5px !important;
            
        }
        #time span{
            font-size: xx-small;
            width: fit-content;
        }

        #btn-4{
            font-size: x-small;
            padding: 5px 10px !important;
        }

        #btn-5{
            font-size: x-small;
            padding: 5px 10px !important;
            margin-left: 3px;
        }

        #btn-6{
        width: 130px !important;
        padding: 0 !important;
        }
        #head{
            font-size: x-small;
            padding: 0;

        }
        #candidates div{
            font-size: x-small;
            padding: 0px 0px !important;
            height: 10px !important;

        }


        
         }

         @media (max-width:514px) {
            .icon{
                font-size: xx-small;
                padding:6px !important;
                text-align: center;
                vertical-align: middle;
            }
            #btn-1 {
                font-size: xx-small;
                width: 80px;
                padding:0px !important;
                text-align: center;
                vertical-align: middle;
            }
            #btn-2 {
                font-size: xx-small;
                width: 80px;
                padding:0px !important;
                text-align: center;
                vertical-align: middle;
            }
            #btn-3div{
                margin-left: 3px;
                font-size: xx-small;
                width: 100px !important; 
                
            }
            #btn-3{
                font-size: xx-small;
                padding: 0 5px !important;
                
            }
            #time span{
                font-size: xx-small;
                width: 50px !important;
                height: 20px !important;
                line-height: 0px !important;
                display: none;
            }
    
            #btn-4{
                font-size: x-small;
                padding: 5px 10px !important;
            }
    
            #btn-5{
                font-size: x-small;
                padding: 5px 10px !important;
                margin-left: 3px;
            }
            #date{
                padding: 10px 0px !important;
                height: 50px;
                align-self: center;
            }
            #signout{
                padding: 5px 0px !important;
                height: 30px !important;
                width: 100px;
                border-radius: 5px !important;
                vertical-align: center;
                align-self: center;
            }
            #btn-6{
            width: 130px !important;
            padding: 0 !important;
            }
            #head{
                font-size: x-small;
                padding: 0;
    
            }
            #candidates div{
                font-size: x-small;
                padding: 0px 0px !important;
                height: 10px !important;
    
            }
    
        }